* {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

.nav {
  background: gray;
  height: 75px;
  margin: 0 100px 0 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-size: 3rem;
  display: flex;
}

.search {
  width:400px;
  height: 45px;
  font-size: 1.5rem;
  border: 2px solid black;
}

.nav-btn {
  padding: 10px 40px 10px 40px;
  font-size: 1.2rem;
  background: blue;
  border: 2px solid black;
}

.rows {
  display: flex;
}

.flex-container {
  width: 90%;
  margin: 0 auto;
}

.card-1, .card-2 {
  border: 2px solid black;
  overflow: hidden;
  width: 500px;
  margin-top: 30px;
  margin-left: 35px;
  padding-left: 10px;
  padding-bottom: 5px;
  order: 0;
}

.bold {
  font-size: 1.5rem;
}
  
.row-2 {
  display: flex;
}





