* {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

.nav {
  background: gray;
  height: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-size: 3rem;
}

.search {
  width:400px;
  height: 45px;
  font-size: 1.5rem;
  border: 2px solid black;
}

  .btn{
  padding: 10px 30px 10px 30px;
  font-size: 1.2rem;
  border: 2px solid black;
}

.rows {
  display: flex;
}

.flex-container {
  width: 90%;
  margin: 0 auto;
}

.box {
  display: flex;
  border: 2px solid black;
  width: 600px;
  height: 250px;
  margin-top: 30px;
  
}

.row-1 {
flex: 1;
}

.row-2 {
  flex: 2;
  margin-left: 20px;
}

.card-3 {
  border: 2px solid black;
  height: 200px;
  margin-top: 30px;
  text-align: center;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
  margin: 5px;
}

.card-1, .card-2 {
  margin-left: 10px;
  margin-top: 10px;
}

.noun {
  margin-left: 40px;
  margin-bottom: 10px;
  font-size: 2rem;
}

.plural {
  font-size: 1.2rem;
}

.likes {
  font-size: 1.5rem;
  background: rgb(219, 199, 11);
  padding: 5px 10px 5px 10px;
  box-shadow: 2px 4px black;
  margin-top: 15px;
  margin-left: 25px;
}

.def {
  font-size: 1.8rem;
  background: green;
  margin-top: 30px;
  box-shadow: 2px 4px black;
}

.deff {
  margin-top: 100px;
  margin-left: 30px;
  margin-right: 20px;
}

.login { 
  background-color: blue;
}
